.wrap {
    background-color: #F0EFF2;
    padding: 50px 16px 200px;
}

.card {
    width: 900px;
    background-color: #F0EFF2;
    margin: 0 auto;
}

.alert-success {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 40px;
}

.alert-space {
    background-color: #000;
    height: 40px;
    width: 5px;
}

.detail-title {
    font-size: 30px;
    font-weight: 700;
    width: 120px;
}

.detail-card {
    border-radius: 12px
}

.detail-content {
    margin-top: 40px;
    background: #fff;
    border: 1px solid #eef0f5;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(17, 24, 39, .04);
}

.detail-row {
    display: flex;
    gap: 140px;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid #E1E1E1;
    font-size: 18px;

}

.detail-row .label {
    margin-left: 70px;
    font-size: 20px;
    width: 140px;
    color: #666
}

.date-split {
    display: flex;
    gap: 220px;
    align-items: baseline;
    margin: 0 10px;
    font-size: 18px;
}

.detail-actions {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    margin-top: 16px
}

.date-syu .date-tai .date-kyu .date-kei {
    margin-right: 65px;
    padding: 5px 15px;
}

.date-biko {
    margin-right: 65px;
    padding: 5px 15px;
    min-height: 60px;
    width: 450px;
    white-space: pre-wrap;
    /* 改行を反映 */
}

.note-area {
    margin: 0;
    width: 400px;
    height: 100px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.btn.primary {
    background: #111827;
    color: #fff;
    border-color: #111827;
    padding: 15px 55px;
    font-size: 22px;
    text-decoration: none;

}
.btn.primary.return {
    background: #c7c8cb;
    color: #fff;
    border-color: #111827;
    padding: 15px 55px;
    font-size: 22px;
    text-decoration: none;

}
.btn {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
}

.time-separator {
    margin: 0 80px;
}

.time-input {
    font-size: 18px;
    width: 100px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.actions {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

/*******エラーメッセージ*********/
.error {
    color: red;
    font-size: 18px;
    margin-top: 4px;
}

.alert-danger {
    background-color: #f8d7da;
    border: 1px solid #f5c2c7;
    color: #842029;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}